.container {
    width: 100%;
    height: 600px;
    background-position: right center;
    background-size: cover;
    background-image: url('/assets/Images/Services/img 8.jpeg');
    background-attachment: fixed;
    color: white;
    display: flex;
    padding-left: 50px;
    box-sizing: border-box;
}

.container h1 {
    font-size: 28px;
    /* Adjust this value to make the font smaller */
    font-weight: bold;
    /* Optional: Adjust the weight if you want it to be less bold */
    color: #ffffff;
    padding: 20px;
    /* Optional: You can change 
      the color as well */
}

article {
    width: 80%;
    margin: 20px auto;
    padding: 10px;
    border-radius: 10px;
    line-height: 1.8;
}

article h1 {
    font-size: 34px;
    color: #333;
}

article p {
    font-size: 18px;
    line-height: 1.6;
    /* Reduced padding */
    color: #131212;
    margin-bottom: 20px;
    text-align: justify;
}

article img {
    width: 100%;
    height: auto;
    display: block;
    margin-top: 20px;
    /* Reduced space */
    margin-bottom: 10px;
    /* Reduced space */
    border-radius: 8px;
}

.image-center {
    display: flex;
    justify-content: center;
    margin: 20px 0;
}

.image-center img {
    max-width: 100%;
    height: auto;
}

@media (max-width: 768px) {
    .container h1 {
        font-size: 36px;
    }
    article {
        width: 90%;
        padding: 20px;
    }
    article h1 {
        font-size: 28px;
    }
    article p {
        font-size: 16px;
    }
    article img {
        margin-top: 20px;
        /* Adjust space above the image for mobile */
    }
}

html,
body {
    font-family: "Audiowide", sans-serif;
}