<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>


<body>
    <!-- Managed Security Section -->
    <div class="flex-container managed-services-container">
        <div class="image-container">
            <img src='assets/Images/Services/m2.jpg' alt="Managed Security Image">
        </div>
        <div class="content-container">
            <h1>Managed Security</h1>
            <p>We provide comprehensive managed services that cover cloud application security, endpoint security, identity management, and log analysis. Our services include:</p>
            <ul>
                <li>24/7 Monitoring</li>
                <li>Incident Response</li>
                <li>Vulnerability Management</li>
                <li>Ongoing Security Updates</li>
            </ul>
        </div>
    </div>

    <div class="flex-container customer-experience-container">
        <div class="content-container customer-experience-content">
            <h1>Customer Experience</h1>
            <p>We will concentrate on providing customer experience implementation through CCaaS (Contact Center as a Service). This enables businesses to seamlessly manage customer interactions across voice, chat, email, and other channels.</p>
            <p>By leveraging CCaaS, organizations can enhance customer satisfaction, streamline workflows, and gain valuable insights to optimize customer engagement strategies.</p>
        </div>
        <div class="image-container">
            <img src=' assets/Images/Services/ce1.jpg ' alt="Customer Experience Image">
        </div>
    </div>

</body>

</html>