/* Navbar Fixed Position */

.navbar {
    position: fixed;
    /* Keeps the navbar fixed while scrolling */
    top: 0;
    /* Sticks to the top of the viewport */
    width: 100%;
    /* Spans the entire width */
    z-index: 1000;
    /* Ensures it's above other elements */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    /* Optional shadow for better visibility */
}


/* Adjust the content below the navbar */

router-outlet {
    display: block;
    margin-top: 70px;
    /* Adjust based on the height of the navbar */
}


/* Logo dimensions */

#logo {
    width: 60px;
    height: 50px;
}


/* Gradient text styling */

.gradient-text {
    background: linear-gradient(30deg, rgb(255, 255, 255), rgb(255, 255, 255));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    color: transparent;
}


/* Body and font settings */

html,
body {
    font-family: "Audiowide", sans-serif;
    margin: 0;
    /* Reset margin to avoid unnecessary spacing */
    padding: 0;
}

#company-name {
    height: 50px;
}