.achievements-container {
    margin: 20px;
    padding: 20px;
    border-radius: 8px;
    text-align: center;
    /* Gradient background */
    /* background: linear-gradient(135deg, #4CAF50, #4CAF50); */
    /* Orange gradient */
    /* Optional: Add an image background */
    /* background-image: url('assets/Images/your-background-image.jpg'); */
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    /* For parallax effect */
    color: white;
    /* Ensure text stands out on dark backgrounds */
}


/* Title styling */

h2 {
    color: #000000;
    /* Make text white for visibility on dark backgrounds */
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
    /* Optional: Add shadow for text visibility */
}


/* Image gallery container */

.images-gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 20px;
}


/* Individual images in the gallery */

.achievement-image {
    width: 100%;
    height: auto;
    max-width: 300px;
    margin: 10px;
    border-radius: 8px;
    /* Rounded corners for images */
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
    /* Soft shadow for depth */
    transition: transform 0.3s ease-in-out;
    /* Smooth transition on hover */
}


/* Hover effect for images */

.achievement-image:hover {
    transform: scale(1.05);
    /* Slight zoom-in effect on hover */
}