@media screen and (max-width: 600px) {
    .column,
    input[type=submit] {
        width: 100%;
        margin-top: 0;
    }
}

* {
    box-sizing: border-box;
}


/* Style inputs */

input[type=text],
select,
textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
}

input[type=submit] {
    background-color: #04AA6D;
    color: white;
    padding: 12px 20px;
    border: none;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: #45a049;
}


/* Style the container/contact section */

.container {
    border-radius: 5px;
    padding: 10px;
}


/* Create two columns that float next to eachother */

.column {
    float: left;
    width: 50%;
    margin-top: 6px;
    padding: 20px;
}

img {
    border-radius: 10px;
}


/* Clear floats after the columns */

.row:after {
    content: "";
    display: table;
    clear: both;
}

img {
    height: 500px;
}

.contact-info {
    text-align: center;
    margin-top: 20px;
    padding: 20px;
    /* Light background */
    border-radius: 8px;
}

.contact-info i {
    font-size: 1.5rem;
    color: #007bff;
    /* Icon color */
}

.contact-info h5 {
    font-weight: bold;
}

.contact-info p {
    margin-bottom: 10px;
}

.phone-numbers {
    color: #000000;
    /* Red color for phone numbers */
}