/* Pseudo-element for the blur effect */

.blur-background::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(255, 255, 255, 0.1);
    /* background-image: url('/assets/Images/background.png'); */
    background-size: cover;
    background-position: center;
    filter: blur(8px);
    /* Apply blur effect */
    -webkit-filter: blur(3px);
    /* Support for WebKit browsers */
    z-index: -1;
    /* Ensure blur is behind the content */
}

.blur-background {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(255, 255, 255, 0.1);
}

.container {
    padding-top: 100px;
    /* Adjust for top spacing */
}

.rounded-input {
    border-radius: 5px;
    /* Rounded corners */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    /* Box shadow */
}

.btn-success {
    border-radius: 5px;
    /* Rounded corners */
}

.btn-success:hover {
    background-color: #28a745;
    /* Darker green */
    border-color: #28a745;
}

.btn-primary {
    background-color: #007bff;
    /* Bootstrap primary color */
    color: white;
    /* Text color */
    border-radius: 5px;
    /* Rounded corners */
    margin-left: 10px;
    /* Space between buttons */
}

.btn-primary:hover {
    background-color: #0056b3;
    /* Darker blue on hover */
}

.justified-text {
    text-align: justify;
    text-align-last: left;
    width: 500px;
}