<div class="about-section">
    <h1>About Us</h1>
    <br>
    <p>SkyLena Info Technology is a Cloud service and cybersecurity company that will offer comprehensive services to small and medium-sized businesses in India and the global market, with plans to expand to other regions. We will also provide enhanced custom
        applications with our wide range of industry-leading end-to-end cloud services, including cloud consulting, cloud infrastructure design, cloud migration, cloud deployment, cloud security, and compliance integration for Customer experience products.
        With expertise in penetration testing, Security Information and Event Management (SIEM), cloud security configuration, managed services, endpoint security, identity management, and log analysis, we can provide a holistic approach to cybersecurity.
        By leveraging cloud platforms such as AWS, Azure, and GCP, to ensure scalability, flexibility, and reliability for our clients. Our office in India will serve as the front end for marketing, discussions, and implementation while monitoring and
        managed services will be conducted from our operations center in Sydney.</p>
</div>
<br>

<h2 style="text-align:center">Our Team</h2>
<br>
<div class="row">


    <div class="column">
        <div class="card">
            <img src='assets/Images/team.jpg' alt="Mike" style="width:100%">
            <div class="container">
                <h2>Team</h2>

                <p>With over 10 years experience in the Cloud industry, we leads the market with passion and expertise.</p>
            </div>
        </div>
    </div>

    <div class="column">
        <div class="card">
            <img src='assets/Images/cloud.webp' alt="John" style="width:100%">
            <div class="container">
                <h2>Cloud Certification</h2>
                <p>Brilliant team work for your Certified Career growth</p><br>

            </div>
        </div>
    </div>
</div>
<div class="content">

</div>

<div class="footer">
    <!-- Created by -->
    <!-- <a href="https://www.linkedin.com/in/sagar-khadilkar-b3a313205/" target="_blank">Sagar Khadilkar</a> -->
</div>