/* Global Styles */

body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    line-height: 1.6;
}

h1,
h2 {
    font-weight: bold;
    text-align: center;
}

p,
ul {
    padding: 20px;
    font-size: 18px;
    color: #333;
}

ul {
    list-style-type: square;
}


/* Container with background images */

.container {
    width: 100%;
    height: 600px;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    box-sizing: border-box;
}


/* Internship Section */

.internship {
    background-image: url('/assets/Images/Services/i1.jpeg');
    /* Add your internship image here */
}

.internship h1 {
    font-size: 36px;
    text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.7);
}

.internship-content {
    padding: 20px;
    margin-top: 10px;
}


/* Corporate IT Training Section */

.corporate-training {
    background-image: url('/assets/Images/Services/t1.jpg');
    /* Add your corporate training image here */
}

.corporate-training h1 {
    font-size: 36px;
    text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.7);
}

.corporate-training-content {
    padding: 20px;
    margin-top: 10px;
}


/* Responsive Design */

@media (max-width: 768px) {
    h1 {
        font-size: 28px;
    }
    h2 {
        font-size: 24px;
    }
    p,
    ul {
        font-size: 16px;
    }
}