<div class="blur-background">
    <div class="container">
        <br>

        <span id="typing-animation"></span>
        <div id="typing-animation">
            <h1>
                {{ textContent }} </h1>
        </div>

        <br> <br>

        <p>
            SkyLena Info Technology Pvt. Ltd. is a Cloud service and cybersecurity company offering comprehensive services to small and medium-sized businesses in India and the global market, with plans to expand to other regions.
            <br><br> We provide premier corporate training and internship solutions designed to empower IT professionals and equip aspiring tech enthusiasts with the skills and knowledge needed to excel in the rapidly evolving world of Information Technology
            (IT).
            <br><br> Our services include cloud consulting, cloud infrastructure design, cloud migration, cloud deployment, cloud security, and compliance integration for customer experience products.
        </p>
    </div>
</div>